@font-face {
    font-family: 'Abril Fatface'; /*a name to be used later*/
    src: url('../fonts/AbrilFatface-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'GFLatoRegular'; /*a name to be used later*/
    src: url('../fonts/Lato-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'GFLatoLight'; /*a name to be used later*/
    src: url('../fonts/Lato-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'GFLatoBold'; /*a name to be used later*/
    src: url('../fonts/Lato-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'GFLatoBoldItalic'; /*a name to be used later*/
    src: url('../fonts/Lato-BoldItalic.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'GFLatoItalic'; /*a name to be used later*/
    src: url('../fonts/Lato-Italic.ttf'); /*URL to font*/
}


@font-face {
	font-family:"Pompadour Black";
	src:url("../fonts/Pompadour.eot?")
	format("eot"),url("../fonts/Pompadour.woff")
	format("woff"),url("../fonts/Pompadour.ttf")
	format("truetype"),url("../fonts/Pompadour.svg#Pompadour-Black")
	format("svg");
	font-weight:normal;
	font-style:normal;
}

.nodisplay{
	display: none;
}

#closeit{
	top: 128px;
	left: 0px;
	position: absolute;
}
#closeit:hover{
	cursor: pointer;
}
#newsletter:hover{
	cursor: pointer;
}
#catalogue:hover{
	cursor: pointer;
}
body{
	background-color: #fff;
	height: auto;
}
a{
	text-decoration: none;
}
a:link {color: black;text-decoration: none;}      /* unvisited link */
a:visited {color: black; text-decoration: none;}  /* visited link */
a:hover {color: black; text-decoration: none;}  /* mouse over link */
a:active {color: black; text-decoration: none;}  /* selected link */

#lang-choice a:active{
	color: red;
}

#lang-choice a:hover{
	color: red;
}

.home{
	background-color: #1A1A1A;
}

#menu {
    z-index: 2;
	text-align: center;
}

.pagination-centered {
  text-align: center;
}

.logo{
	padding-left: 0;
}

.centered-width{
	width: 100%;
	margin: 0 auto;
}


.on-top{
	left: 37%;
	margin: 0px auto;
	position: absolute;
	text-align: center;
	top: 39%;
    width: 400px;
}

.white-font{
	color: white;
}

/*RESPONSIVE NAV PREP*/

.navigation{
	color: #ffffff;
	font-size: 1.1em;
	text-transform: uppercase;
	min-height: 63px;
	margin: 0 auto;
	/*width: 590px;*/
	max-height: 73px;
	display: inline-block;
}

#porto-collect a, #london-collect a{
	z-index: 0;
}

.navigation li a{
	color: black;
	z-index: 1;
}

.navigation li a:hover{
	color: #D2232A;
	border-radius: 0;
	background: transparent;
}

.center-spans{
	float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.background-art{
    padding-top: 100px;
    font-size: 6em;
	height: 463px;
}

.symbolred{
	color: #D2232A !important;
}
/*art e dsesin*/
.symbolgray{
	color: #333333;
}

.ontop{
    position: absolute;
}

.transp-white{
	background-color: rgba(255, 255, 255, 0.5);
	min-height: 73px;
}

/*RETIRA MARGEM DOS SPANS DENTRO DE PAIS*/
.no-space [class*="span"] {
    margin-left: 0;
}
.span10{
	width:100%;
}
.span11{
	width: 100%;
	margin-left: 0;
}

.span7{
	width: 50%;
}

.featured-product {
	margin-top: 90px;
	width: 100%;
	background-color: #000000;
}

.featured-product > div {
	position: relative;
	padding: 8px;
	color: white;
}

.featured-product > div > img {
	width: 100%;
	height: 100%;
}

.collections-img{
	width: 100%;
}

.collections-img > div > div {
	position: relative;
	padding: 8px;
}

.collections-img > div  > div > img {
	max-width: 100%;
	max-height: 100%;
}

.collections-img > div  > div > div {
	width: 29%;
	height: 18%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.span3 > a > img {
	width: 100%;
	height: 100%;
}

.collections-imag{
	width: 100%;
	background: url('../images/porto_london.jpg');
	background-size: 100% 100%;
	height: 491px;
	margin-top: -76px;
}

#collect_container{
	position: relative;
	z-index: 0;
}
#porto-collect{
	float: left;
    height: 100%;
    width: 50%;
    position: relative;
    z-index:0;
}

#porto-collect a{
	top: 36%;
    left: 30%;
    position: absolute;
}

#london-collect{
	float: right;
	height: 100%;
	width: 50%;
	position: relative
}

#london-collect a{
	top: 36%;
    left: 38%;
    position: absolute;
}

#mainwrapper {
  font: 10pt normal Arial, sans-serif;
  height: auto;
  margin: 10px auto 0 auto;
  text-align: center;
}

#mainwrapper .box {
    cursor: pointer;
    float: left;
    position: relative;
    overflow: hidden;
    width: 33.33%;
	height: 420px;
}

#mainwrapper .box img{
	width: 100%;
	height: 100%;
	position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#mainwrapper .box .fade-caption{
	width: 100%;
	height: 100%
}

.whatsnew h2 {
    font-size: 5em;
    margin: 90px auto 40px;
    width: 28.6%
}
.whatsnew{
	margin-top: 50px;
}
.whatsnew h2{
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 40px;
	font-size: 5em;
}

#footer {
    width: 100%;
    height: 400px;
    background-color: rgb(38, 39, 40);
}
#mainwrapper .box .caption {
    background-color: rgba(206,0,0,0.5);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption {
    opacity: 0;
    text-align: left;
    padding: 15px;
}

#mainwrapper .box:hover .fade-caption {
    opacity: 1;
}

.justified{
	text-align: justify;
	padding: 80px 80px 0;
}

#keep-scroll{
	background-image: url("../images/scroll.png");
	top: 68%;
	left: 89%;
	z-index: 14;
	width: 82px;
	height: 100px;
	position: absolute;
}
.carousel-control.left {
	padding-top: 16%;
}
.carousel-control.right {
	padding-top: 16%;
}

#newsletteroverlay{
	display: none
}
.newsubscribe{
	width: 44%;
	height: 585px;
	top: 10%;
	left: 27%;
	display: block;
	position: absolute;
	padding: 20px;
	z-index: 1101;
	background: rgba(255, 255, 255, 1);
}

#newsletterform{
	margin-top: 45px;
	width: 100%;
}

#closeform{
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('../images/closeform.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}
/*RESPONSIVE TYPO*/
@media only screen and (max-width: 1920px) {
	.img-carousel img{
		width: 1990px;
  		height: 600px;
	}
	.img-carousel{
		width: auto;
	  	height: 647px;
	}
}

.img-carousel{
	width: auto;
  	height: 100%;
}

@media only screen and (max-width: 1440px) {
	#mainwrapper .box{
		height: 280px;
		width: 474px;
		z-index: 0;
	}
	.whatsnew h2 {
	    font-size: 5em;
	    margin: 90px auto 40px;
	    width: 30.6%
	}
}
@media only screen and (max-width: 1422px) {
	#mainwrapper .box{
		width: 33.33333%;
	}
	#mainwrapper .box img{
		width: 100%;
	}
	#mainwrapper .box .fade-caption{
		width: 100%;
	}
}
@media only screen and (max-width: 1280px) {
	.whatsnew h2 {
	    font-size: 4em;
	    margin: 90px auto;
	    width: 27%;
	}
}
@media only screen and (max-width: 1200px) {
	#numbers{
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.whatsnew h2 {
		width: 31%;
	}
}


@media only screen and (max-width: 980px) {
	.newsubscribe {
	    width: 70%;
	    left: 15%;
	    top: 2%;
	    height: 50%;
	}
	.moreinfo{
		 height:450px;
	}

	.whatsnew h2 {
	    font-size: 3em;
	    margin: 90px auto;
	    width: 25%;
	}
	.on-top {
	    left: 25%;
	    top: 35%;
	}
	#porto-collect{
		float: left;
	    height: 100%;
	    width: 50%;
	}

	#porto-collect a{
		margin-top: 14%;
	    padding-left: 15%;
	    position: absolute;
	}

	#london-collect{
		float: right;
		height: 100%;
		width: 50%;
	}

	#london-collect a{
		margin-top: 11.4%;
		left: 23%;
    	position: absolute;
	}
	.collections-img{
		height: 365px;
	}
	#mainwrapper {
	    margin-top: 0;
	}
	#keep-scroll{
		display: none;
	}
}

.center-text{
	text-align: center;
}

.border-r{
	border-right: 1px solid;
}

.marginized {
	margin-top: 80px;
	margin-bottom: 40px;
}


#numbers{
	margin: 0 auto;
	width: 65%;
}
#table{
	table-layout: fixed;
}

#table{
	width: 80%;
	table-layout: fixed;
}

#table td {
	width: 150px;
}
#table-numbers tr{
	width: 70px;
}

#table-numbers tr td{
	font-size: 4em;
	padding-left: 60px;
}
#table-numbers tr:first-child{
	font-size: 3.3em;
}

#table-numbers tr:nth-child(2){
	font-size: 0.3em;
}

#logos {
    margin: auto auto 50px;
    padding-top: 50px;
    width: 410px;
}

.white-text{
	color: white;
	font-weight: bold;
}

.white-text a{
	color: white;
}

.white-text p{
	color: red;
}

@media only screen and (max-width: 800px) {
	#porto-collect{
		float: left;
	    height: 100%;
	    width: 50%;
	}

	#porto-collect a{
		margin-top: 11.4%;
	    left: 5%;
	    position: absolute;
	}

	#london-collect{
		float: right;
		height: 100%;
		width: 50%;
	}

	#london-collect a{
		left: 15%;
	    position: absolute;
	}
	.collections-img{
		height: 325px;
	}
	.responsive-img{
		width: 220px;
		height: auto;
		z-index: -1
	}
	.whatsnew h2 {
	    font-size: 2.5em;
	    margin: 90px auto;
	    width: 30%;
	}
	#mainwrapper{
		min-height: 424px;
	}
	#mainwrapper .box{
		height: 212px;
	}
	.marginized{
		margin-left: 0;
	}
	[class^="icon-"],
	[class*=" icon-"] {
	  display: inline-block;
	  width: 26px;
	  height: 26px;
	  margin-top: 1px;
	  *margin-right: .3em;
	  line-height: 14px;
	  vertical-align: text-top;
	  background-image: url("../images/glyphicons-halflings.png");
	  background-position: -256px 7px;
	  background-repeat: no-repeat;
	}
	.navigation{
		max-height: 1000px;
		width: 25%;
		background-color: white;
	}
	.transp-white {
    	background-color: transparent;
    	min-height: 36px;
	}
	#menu{
		position: absolute;
		z-index: 4 !important;
		min-height: 10%;
	}
	#menu a{
		background-color: white;
	}
	.carousel-control.left {
    	padding-top: 17%;
	}
	.carousel-control.right {
    	padding-top: 17%;
	}
}
@media only screen and (max-width: 400px){
	#artparallax{
		margin-top: 40px;
	}
	.nodisplay{
		display: inherit;
	}
	.transp-white {
    	background-color: transparent;
    	min-height: 73px;
	}
	.newsubscribe {
	    width: 90%;
	    left: 5%;
	    top: 2%;
	    height: 97%;
	}
	.whatsnew h2 {
	    font-size: 1.4em;
	    margin: 40px auto;
	    width: 37%;
	}
    .art-typo {
		padding-left: 0;
        font-size: 0.7em;
    }
	[class^="icon-"],
	[class*=" icon-"] {
	  display: inline-block;
	  width: 10px;
	  height: 14px;
	  margin-top: 1px;
	  *margin-right: .3em;
	  line-height: 14px;
	  vertical-align: text-top;
	  background-image: url("../images/glyphicons-halflings.png");
	  background-position: 14px 14px;
	  background-repeat: no-repeat;
	}
	.navigation{
		max-height: 1000px;
		width: 95%;
		background-color: white;
	}
	.navigation li a:hover{
		background-color: white;
	}
	.icon-th-list {
	background-position: -264px 0;
	}
	.btn-navbar{
		display: inline-block;
	}
	#keep-scroll{
		display: none;
	}
	.span10 {
    	width: 87%;
	}
	.navigation {
    	width: 49%;
	}
	.carousel-control.left {
    	padding-top: 30%;
	}
	.carousel-control.right {
    	padding-top: 30%;
	}
	.responsive-img{
		width: 50px;
		height: auto;
	}
	#porto-collect{
		float: left;
	    height: 100%;
	    width: 50%;
	}
	#porto-collect a{
		margin-top: 11.4%;
	    padding-left: 15%;
	    position: absolute;
	}
	#london-collect{
		float: right;
		height: 100%;
		width: 50%;
	}
	#london-collect a{
		margin-top: 11.4%;
	    left: 27%;
	    position: absolute;
	}
	.collections-img{
		height: 775px;
	}
	.on-top {
	    font-size: 1.2em;
	    left: -21%
	}
	.span7{
		width: 100%;
	}
	.background-art{
		padding-top: 0;
		height: 118px;
	}
	#mainwrapper{
		min-height: 172px;
		margin-top: 30px;
	}
	#mainwrapper .box{
		height: 86px;
	}
	.moreinfo{
		display: none;
	}
	#logos {
	    margin: auto auto 50px;
	    padding-top: 20px;
	    width: 325px;
	    padding-left: 26%;
	    margin-bottom: 36px;
	}
	#logos img{
		width: 20px;
		height: 20px;
	}
	.carousel-control.left {
    	padding-top: 15%;
	}
	.carousel-control.right {
    	padding-top: 15%;
	}
	.logo{
		padding-left: 8px;
	}
	#produ{
		display: none;
	}
	#footer {
	    width: 100%;
	    height: 240px;
	    background-color: rgb(38, 39, 40);
	}
}

.abrilfat{
	font-family: 'Abril Fatface';
}

.latoregular {
    font-family: 'GFLatoRegular'; /*a name to be used later*/
}

.latolight {
    font-family: 'GFLatoLight'; /*a name to be used later*/
}

.latobold {
    font-family: 'GFLatoBold'; /*a name to be used later*/
}

.latobolditalic {
    font-family: 'GFLatoBoldItalic'; /*a name to be used later*/
}

.latoitalic {
    font-family: 'GFLatoItalic'; /*a name to be used later*/
}

.pompadour {
    font-family: "Pompadour Black"; /*a name to be used later*/
}

#rights{
	float: right;
	padding-top: 8%;
	padding-right: 15px;
	color: #EAEAEA;
}

#lang-choice{
	position: absolute;
	top: 65%;
	right: 2%;
}

.min-line-height{
	line-height:90%;
}

.red-cross{
	color: red;
	font-size: 5em;
	margin-left: 45%;
}

a.red-cross:link{
	color:red;
}


a.red-cross:visited{
	color:red;
}

a.red-cross:active{
	color:red;
}

a.red-cross:hover{
	color:red;
}

.overlay{
	background: rgba(0, 0, 0, 0.5);
	width:      100%;
	height:     100%;
	z-index:    20;
	position:   fixed;
}


#mail input{
	border: 0px;
	background-color: #DCDCC8;
	margin-bottom: 15px;
	width: 100%
}
#mail input[type='checkbox']{
	border: 0px;
	background-color: #DCDCC8;
	margin-bottom: 0;
	width: 20px;
}
#sendcontainer{
	width: 50px;
	margin: 0 auto;
	margin-top: 40px;
}

#termos{
	text-align:justify;
	margin: 10px 10px 10px 10px
}

.warning{
	box-shadow: 0 0 25px #a10000;
}

.clear
{
	clear:both;
}

#link-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
    margin: auto;
}

.collection-link{
    width: 240px;
    margin: 0 auto;
}

.collection-images img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .collection-images img {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

/*Overide bootstrap3 col */
.col-centered{
    float: none;
    margin: 0 auto;
}

#collection-text-centered {
	margin-top: 11%;
}

#collection-text-centered p, h4 {
	width: 85%;
	margin-left: 70px;
}

#featured-product-text-centered {
	height: 463px;
}

#featured-product-text-centered p {
	width: 60%;
	font-size: 1em;
	line-height: 200%;
	margin-left: 40px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.swiper-container {
    width: 100%;
    margin: 20px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 60%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:nth-child(2n) {
    width: 40%;
}

.swiper-slide:nth-child(3n) {
    width: 20%;
}

.swiper-image {
	max-width:100%;
	max-height:100%;
}